/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #4f46e5;
  --ion-color-secondary: #4338ca;
  --ion-color-tertiary: #10b981;
  --ion-color-light: #f9fafb;
  --ion-color-dark: #1f2937;
  --ion-color-gray: #6b7280;
}
